.dark-mode {
  background-color: black;
  color: white;
}


p, button, body {
  font-family: 'Noto Serif', serif;
}

h1, h2, h3, h4, h5, span {
  font-family: 'Silkscreen', cursive;
}

body {
  /* background-color: "#b0c7bd"; */
}

a {
  color:#be2ed6;
}


a:hover{
color:"#4c00b0"
}

.nav-butt {
text-align: left;
}
