html, body {
  margin: 20px;
  padding: 0px;
  background-color: black;
  color: white;
}


h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}

h2 {
   font-family: "Times New Roman", Times, serif;
}


img {
  width: 20%
}