---
layout: week.njk 
title: > 
  Project 1: Make a world. Make it weird.
sketch:
  title: "Project 1: Make a World. Make it Weird."
  requirements:
    - use a JS object
    - use an array
    - use at least one for loop
    - use a conditional statement
    - use at least global 4 variables   
    - submit the sketch
    - zip the sketch and images together
  text:
    - In our reading, Fisher identified the "weird" as having a particular aesthetic and political power related to worldmaking. Something is weird when it appears in a place we feel it perhaps shouldn't, not because of mere social expectation, but because of an ontological disjuncture. The Weird is a fissure, a portal, that shows our world as connected to another. 
    - The Weird is a realism, not a fantastic or utopian escape from the complexities and legacies of this world. The weird is not "immersive worldbuilding" of Tolkien, or Avatar, or even Ian Cheng. We are not horrified by the weird, we are hesitantly fascinated by it. We would find a much better example of the Lovecraftian weird in James Cameron's The Abyss (1989) or the Detroit Techno group Drexciya .       
    - Do not actually attempt to "make a world" by recreating a world or building it from scratch. James Cameron had 70 million dollars and 140 days of filming to make The Abyss -- We have limited time and resources. 
    - > 
       What's more, and this is perhaps the most important point of this exercise, is that for Fisher the Weird does not operate by immersion as we are used to in popular immersive media and interactive art. He writes: "Lovecraft generates a 'reality effect' by only ever showing us tiny fragments of the Necronomicon. It is the very fragmentary quality of his references to the abominable text that induce a belief in readers that it must be a real object."
    - > 
        In other words: make a fragment, make a world, make it weird.   
examples: 
   - type: p5 
     url: glj/sketches/4OlbFKiwz
   - type: p5 
     url: glj/sketches/KWtUVSVLY
   - type: p5 
     url: glj/sketches/iV7PpLMOH
other: 
  - type: youtube
    id : 4zbpL3LeW7k
  - type: youtube 
    id : fgG-QiChiA8
  - type: link
    url: https://nimrodastarhan.com/proof-and-argument
    name: Nimrod Astarhan "Proof and Argument" (2022)
  - type: link 
    url: https://readings.design/PDF/speculative-everything.pdf
    name: Anthony Dunne and Fiona Raby, Speculative Design
  - type: link
    url: https://en.wikipedia.org/wiki/Codex_Seraphinianus
    name: Luigi Seraphini "Codex Seraphinianus"
---
