---
layout: week.njk
title: Vectors
goals: 
sketch:
  title: "Coding Sketch: Vector Math"
  text:
  - Experiment with vector math in p5. 
  - This is to develop technical facility, not artistic expression.
code:
- p5.Vector
eleventyComputed:
  readings:
    - name: "{{ texts.nature.title }}"
      url: "{{ texts.nature.url }}"
      img: "{{ texts.nature.img }} "
      description: Chapters 1. Vectors. (note, the code examples here are for Java Processing, not p5*js. But the concepts are the same.)
other:
    - type: youtube 
      id: bKEaK7WNLzM
    - type: youtube
      id: Rob0pbE7kks
    - type: url
      id: jupjuq9Jl-M
    - type: youtube 
      id: T84AWnntxZA
    - type: youtube
      id: Uibl0UE4VH8
examples: 
    - type: p5
      url: gjohns13-spectacular/sketches/nemQzaSs2
    - type : p5 
      url: gjohns13-spectacular/sketches/QHkyTNm5d
    - type: p5 
      url: gjohns13-spectacular/sketches/2sDpLFWNm
    - type: p5 
      url: gjohns13-spectacular/sketches/dST6NwZsY
    - type: p5 
      url: gjohns13-spectacular/sketches/bTrJdN0J1
---
