---
layout: lab.njk
title: Class D Amplifier Max9744
---

<h1>{{title}}</h1>

<img src="/assets/img/amp.jpg" />
<a
  href="https://learn.adafruit.com/adafruit-20w-stereo-audio-amplifier-class-d-max9744/assembly"
  >Assembling the Amp</a
>
