---
layout: base.njk
---

<div class="col-sm-6">
  <h1>Group Presentations</h1>
  <h2>Presentation Criteria</h2>
  <strong>Overall</strong>
  <p>
    You and 2-3 of your classmates will prepare a 20-30 minute presentation on
    an area of {{ area }}. Your presentation should cover the items below.
  </p>
   <strong>Artists</strong>
  <ul>
    <li>For each artist, present 1 or 2 artworks</li>
    <li>Discuss how the work relates to the topic / technique</li>
    <li>Read and discuss the artist's descriptions of these works (if available, if not, maybe don't pick that artwork!)</li>
    <li>Give your own sense of the work: what do you see, how does it make you feel, what do you think it's about?</li>
  </ul>
  <strong>Your own connections</strong>
  <p>
    How do your interests intersect with this topic / technique? How might you
    continue to pursue this at this school or in your future work?
  </p>

  {% for t in topics%}
  <h3>{{ t.title }}</h3>
  <h5>artists:</h5>
  <div>
    <ul>
      {% for a in t.artists%}
      <li>
        <a href="{{ a.url }}">{{ a.name }}</a>
      </li>
      {% endfor%}
    </ul>
  </div>

  <h5>readings:</h5>
  <div>
    <ul>
      {% for r in t.readings%}
      <li>
        <a href="{{ r.url }}">{{ r.info }}</a>
      </li>
      {% endfor%}
    </ul>
  </div>

  {% if t.connections%}
  <h5>{{ department }} connections:</h5>
  {% endif %}
  <div>
    <ul>
      {% for c in t.connections%}
      <li>
        <a href="{{ c.url }}">{{ c.info }}</a>
      </li>
      {% endfor%}
    </ul>
  </div>
  {%endfor%}
</div>
