---
layout: base.njk
title: Syllabus
---


{# course header #}
{% syllabusHeader course, instructor, time, term, location %}
{# course description #}
{% set snippet %}
{% include "/src/uic/art151/content/description.md" %} 
{% endset %}
{% markdown snippet %}

<h2>LEARNING OBJECTIVES</h2>
{% set snippet %}
{# {% include objectives ignore missing%}  #}
{% endset %} 
{% markdown snippet %}

<h3>Important Dates</h3>
<ul class="list-group">
  {% for d in calendar %}
  <li class="list-group-item">{{d}}</li>
  {% endfor %}
</ul>

<h2>GRADING, ATTENDANCE, PRIVACY, AND ACCOMODATION POLICIES</h2>
{% if grades.note%}
<h5>{{ grades.note }}</h5>
{% endif %}
<h3>Contact / Credit Hour Policies</h3>
<p>{{ grades.contact }}</p>

{% if grades.key %}

<h3>Grading Key</h3>
<ul class="list-group">
  {% for i in grades.key%}
  <li class="list-group-item">{{ i.label}} {{i.description}}</li>
  {% endfor %}
</ul>

{% endif %}

<h3>Attendance</h3>

  {% for i in attendance.description%}
<p>{{i}}</p>
  {% endfor %}
 <h5>makeup</h5>
  <p>{{attendance.makeup}}</p>

{% if grading.breakdown %}

<h3>Grading by Assignment</h3>
<ul class="list-group">
  {% for item in grading.breakdown %}
  <li class="list-group-item">{{ item }}</li>
  {% endfor %}
</ul>
{% endif %}

{# {% include stock ignore missing%} #}
