html, body {
  margin: 20px
  padding 0;
  padding: 0;
  background-color: rgb(179,179,179)
}

h1 {
  text-align: right;
 
}
h2 {
  text-align: left;
  font-size: 16px;
}
canvas {
/*   //display: block;  
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;  */
} 

img {
  width: 100%;
}