---
layout: schedule.njk
weeks:
  - Welcome back!
  - HTML, Introduction Websites + Personal Response (25 Questions) 
  - HTML, The Early Web, GeoCities Project 
  - HTML, Images, Audio, Video
  - CSS, Web 1.0 +  Personal Response (Relationship to your Work)
  - CSS, Artist publicity presentations 1  
  - JS, Artist publicity presentations 2
  - The Art of Getting a Job
  - Launching a Personal Website or CAPX + Personal Response (Approach to Documentation)
  - Launching a Personal Website or CAPX 
  - Instructor Planned Absence, Potential Substitute 
  - Open Studio 
  - Open Studio
  - Thanksgiving Break [no class]
  - Critique Week [no class]
  - Final Project Presentations 
---
