---
layout: schedule.njk
weeks:
  - Welcome back!
  - HTML, Introduction Websites + Personal Response (25 Questions) 
  - HTML, The Early Web, GeoCities Project 
  - HTML, Images, Audio, Video
  - CSS, Web 1.0 + GeoCities Presentation
  - CSS +  Launching a Personal Website  
  - JS, Artist publicity presentations
  - The Art of Getting a Job + Personal Response (Approach to Documentation)
  - Substitute: Christine Schallenberg  
  - Personal Response (Relationship to your Work) + CAPX visit 
  - Substitute: Christine Schallenberg [open studio, or any loose ends] 
  - Open Studio 
  - Open Studio
  - Thanksgiving Break [no class]
  - Critique Week [no class]
  - Final Project Presentations 
---
