---
layout: week.njk
title: Processing, for loops and variables
tags:
  - processing
  - color
  - new media
  - week
goals:
  - "Share and Discuss Coding Sketch #3"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #4"
  - Continue New Media Art Lecture
  - Intro Conditionals and Logical Operators
  - "Start work on Project 1"
eleventyComputed:
  readings:
    - name: "{{ texts.processing.title }}"
      url: "{{ texts.processing.url }}"
      img: "{{ texts.processing.img }}"
      description: Chapters 4 Variables
examples:
  - type: gist
    url: garrett-laroy-johnson/4d9c06911c5eee8d148620a33c42211b
  - type: gist
    url: garrett-laroy-johnson/49bed3c5ca4e471939ba9aa831a2d9e9 
sketch:
  title: "Coding Sketch #3: Nested For Loops + Variations"
  text:
    - Create a nested for loop. Use it to draw shapes to the canvas (in a grid, or otherwise). 
    - Add another factor to the for loop to change drawing parameters iteratively to distort the grid, change the color, or some other variations.
code:
  - for
  - let
  - const
  - random
  - addition
  - subtraction
  - division
  - multiplication
other:
  - type: youtube
    id: B-ycSR3ntik
  - type: youtube
    id: rZ36BzXFT6Q
  - type: youtube
    id: h4ApLHe8tbk
  - type: youtube
    id: H7frvcAHXps
---
