.dark-mode {
  background-color: black;
  color: white;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #1648b3;
}

pre {
  border-left: 2px solid #69c;
}

cb:after {
  background-color: #4c00b0;
}
.gist {
  font-size: 13px;
  line-height: 18px;
  width: 53em;
}
.gist pre {
  font-family: Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New",
    monospace !important;
}

blockquote {
  border-width: 10px;
  border-color: black;
}

[aria-current] {
  background-color: #eee;
}

p,
button,
li {
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Silkscreen", cursive;
}

body {
  /* background-color: "#b0c7bd"; */
}

a {
  color: #be2ed6;
}

a:hover {
  color: #4c00b0;
}

.nav-butt {
  text-align: left;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

canvas {
  position: relative;
  z-index: -3 !important;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
