---
weekNum: 4
title: project work week
goals: 
- review any questions about p5*js fundamenta;s 
- continue studio work project 1 work (see week 4)
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters  1-11 as needed. You need to be comfortable with all concepts mentioned in the book before moving on from Project 1. 
      img: "{{ texts.p5.img }} "
---
