---
layout: week.njk

title: Hello World(building)! 
weekNum: 1 
tags:
  - p5
  - intro
  - week
goals:
  - Introduce ourselves
  - Set course expectations
  - Introduce course website, materials, schedule, about
  - Read together "Why Aesthetic Programming?" Winnie Soon and Geoff Cox 
  - Introduce p5*js programming environment for artists
  - > 
       complete intro survey: https://forms.gle/GYkPmqSpg8Yqm3Xd9"
  - Sign up for p5*js editor
  - Make our first sketch
concepts:
  - "html: hypertext markup language"
  - "css: cascading style sheets"
  - "js: javascript"
  - p5*js
  - processing
sketch:
  title: Coding Sketch
  text:
    - Here is where an assignment would be if it were due today. Since it's the first day of class, we won't expect anything here. Take a look at week 2 for your assignment.
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: All Chapters
      img: "{{ texts.p5.img }} "
    - name: "{{ texts.aesthetic.title }}"
      url: "{{ texts.aesthetic.url }}"
      description: All Chapters
      img: "{{ texts.aesthetic.img }} "   
---

{# 
      <li>
        <input type="checkbox" class="cb" /> Create and assign p5*js 101 groups:
        <ul>
          <li>
            week 2:
            <ul>
              <li>2d shapes</li>
              <li>variables</li>
              <li>for loops</li>
              <li>response</li>
              <li>translation, rotation, scale</li>
            </ul>
          </li>

          <li>
            week 3:
            <ul>
              <li>media (images, fonts)</li>
              <li>movement</li>
              <li>functions</li>
              <li>JS objects</li>
              <li>arrays</li>
            </ul>
          </li>

          <li>
            extra:
            <ul>
              <li>data</li>
              <li>DOM</li>
              <li>sound in p5</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <input type="checkbox" class="cb" /> Introduce Worldbuilding: Mark
        Fisher + Donna Haraway + Drexciya readings
      </li>
    </ul>

    <br />
    <h3>Homework</h3>
    <h4>Readings</h4>
    <p>
      This is where readings that should be prepared for this class will go.
      Look at week 2 for your reading due for the second week.
    </p>
    <h4>Coding Sketch</h4>
    <p>
      Here is where an assignment would be if it were <b>due today</b>. Since
      it's the first day of class, we won't expect anything here. Take a look at
      week 2 for your assignment.
    </p>
  </div>
</div> #}
