---
layout: schedule.njk
weeks:
  - Intro to coding, intro to p5.js
  - Drawing to the HTML Canvas, Coordinates, Shape, Color
  - Variables and For Loops 
  - Interactivity and Conditional Statements
  - Project 1 Prep - Assign Group Presentations Groups
  - Project 1 Presentations & Critiques
  - Group Project Prep 
  - Group Project presentations & Transformations and Movement in Animation
  - Functions 
  - Project 2 Prep
  - Project 2 Presentations & Critique
  - Performing visuals intro, MIDI controller
  - Arrays and Objects
  - Project 3 work time / meetings 
  - Final Project Presentations 
---
{% set calendar = calendar.uic.f24 %}

<h3>Important Dates</h3>
<ul class="list-group">
  {% for d in calendar %}
  <li class="list-group-item">{{d}}</li>
  {% endfor %}
</ul>
