---
layout: week.njk
title: "Project 2 Prep"
weekNum: 10
tags:
  - p5
  - unit2
  - project
goals:
  - In-Class work time
  - Check-ins on Progress
sketch:
  title: "Project 2 Proposal"
  text:
    - Submit a short 200 word proposal for your project. Include details about the coding techniques you will use as well as your artistic intent.
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters 6, 8, 9
---
