---
layout: week.njk
title: Project 2
weekNum: 11
tags:
  - p5
  - project
goals:
  - Project Presentations and Critiques
  - Introduce next unit
examples:
  - type: p5
    url: glj/full/27ru6sUR7
sketch:
  title: Project 2
  text:
    - Using p5*js, use the canvas to create an interactive artwork. It may be a short comic or animation, cubistic and abstract. It my be inspired by some of the works we've seen before, or completely your own.
  requirements:
    - a moving element (bounce off walls, circular, spiral, or sine wave movement)
    - a function that *you* have made to organize your code
    - use rotate() or scale() to transform a drawn element (circle, square, rectangle, polygon, line, etc.) at least once in your code.
  tips:
    - Start by getting all your elements to work inside a single sketch. Use print() or console.log() to test that things are working.
    - Consider how you use the interactivity. The example of interactivity from the book was pretty simple. How can the interactivity help to drive the narrative or drama of your piece?
  eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters 6, 8, 9 as needed.
      img: "{{ texts.p5.img }} "
---
