---
layout: week.njk
title: "Objects"
weekNum: 12
tags:
  - p5
  - unit3
  - week
goals:
  - "Share and Discuss Coding Sketch"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch"
  - Intro Arrays
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapters 10. Objects
      img: "{{ texts.p5.img }} "
concepts:
  - abstraction
  - modularity
  - reusability
code:
  - function
  - object
  - class
other:
  - type: youtube
    id: -e5h4IGKZRY
  - type: youtube
    id: TZG7Koe0Yu0
---

