---
layout: week.njk
title: "Objects: Modularity and Abstraction pt. II"
weekNum: 12
tags:
  - p5
  - unit3
  - week
goals:
  - "Share and Discuss Coding Sketch #7"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #7"
  - Intro Arrays
  - "Intro Coding Sketch #8"
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapters 10. Objects
sketch:
  title: "Coding Sketch #7: Objects"
  text:
    - Create a p5 sketch in which you compose *your own* object to animate a shape.
  requirements:
    - accept a color parameter to assign as one of its properties (e.g. this.color)
    - define and use 2 methods, one to move and one to show
    - the object should be called four different times with four different colors. Call their move and show methods inside the draw loop.
concepts:
  - abstraction
  - modularity
  - reusability
code:
  - function
  - object
  - class
other:
  - type: youtube
    id: -e5h4IGKZRY
  - type: youtube
    id: TZG7Koe0Yu0
---
