---
layout: week.njk
title: "MIDI to p5"
weekNum: 13
tags:
  - p5
  - unit3
  - week
goals:
  - "Share and Discuss Coding Sketch #8"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #8"
  - Tutorial on KorgNano with p5
  - introduce how to run live server

concepts:
  - performance
  - video jocky
  - live visuals

other:
  - type: link
    url: https://github.com/garrett-laroy-johnson/p5.korgnano
    name: code for running korgnano with p5
  - type: link
    name: Microsoft Visual Studio
    url: https://code.visualstudio.com/download
  - type: link
    name: Live Server Extensions for Visual Studio Code
    url: https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer
---
