---
layout: week.njk
title: "Arrays: From Abstraction to Actual"
weekNum: 13
tags:
  - p5
  - unit3
  - week
goals:
  - "Share and Discuss Coding Sketch #8"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #8"
  - Intro Project 3
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      img: "{{ texts.p5.img }} "
      description: Chapters 11. Arrays
sketch:
  title: "Coding Sketch #8: Arrays"
  text:
    - Use your object from Coding Sketch no. 7. Use a for loop to generate 100+ of them and store them in an array. Use another for loop to draw and move at 100+ objects!
    - Define a second object with at least one function that displays a shape. Use function mousePressed() to create these shapes where you you click in the canvas.
concepts:
  - abstraction
  - modularity
  - reusability
code:
  - function
  - object
  - class
other:
  - type: youtube
    id: VIQoUghHSxU
  - type: youtube
    id: QHj6Vs56J54
  - type: youtube
    id: pGkSHeEZLMU
  - type: youtube
    id: fBqaA7zRO58
---
