---
layout: week.njk
title: "Project 3 Prep"
weekNum: 14
tags:
  - p5
  - unit3
  - project
goals:
  - In-Class work time
  - Check-ins on Progress
sketch:
  title: "Project 3 Proposal"
  text:
    - Submit a short 200 word proposal for your project. Include details about the coding techniques you will use as well as your artistic intent.
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters 10, 11
      img: "{{ texts.p5.img }} "
---
