---
layout: week.njk
title: "Project 3 - New Art City"
weekNum: 15
tags:
  - p5
  - project
goals:
  - Project Presentations and Critiques
  - Introduce next unit
sketch:
  title: "Project 3 - Online Gallery Show" 
  text:
    - Let's bring it all together. Create an artwork using p5*js and display it in our New Art City space.
  requirements:
    - Create your own JavaScript Object. Use this to populate an array of objects.
    - Use a for loop to animate or in some other way bring your array of objects to life.
  eleventyComputed:
    readings:
      - name: "{{ texts.p5.title }}"
        url: "{{ texts.p5.url }}"
        description: Review Chapters 10, 11 as needed.
        img: "{{ texts.p5.img }} "
---
