---
layout: week.njk
title: Project 3
weekNum: 15
tags:
  - p5
  - project
goals:
  - Project Presentations and Critiques
  - Introduce next unit
sketch:
  title: Project 2
  text:
    - Let's bring it all together. Create an interactive artwork.
  requirements:
    - Create your own JavaScript Object. Use this to populate an array of objects.
    - Use a for loop to animate or in some other way bring your array of objects to life.
  eleventyComputed:
    readings:
      - name: "{{ texts.p5.title }}"
        url: "{{ texts.p5.url }}"
        description: Review Chapters 10, 11 as needed.
---
