---
layout: week.njk
title: Simple 2D Shapes
weekNum: 2
tags:
  - p5
  - intro
  - week
goals:
  - Announce David Hockney exhibition at ARTIC this semester
  - "Share and Discuss Coding Sketch #1"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #1 (break)"
  - Introduce Group Presentation and Create Groups (break)
  - Intro Variables and For Loops
  - "Start work on Coding Sketch #2"
sketch:
  title: "Coding Sketch #1: Self Portrait"
  text:
    - Find a selfie or take one. Create an interpretation of it using 2D shapes in
      P5.JS. You can to be accurate, or create an interesting abstraction based on
      the image. Look at the 2D shapes on https://p5js.org/reference/.
    - Bonus for using more advanced 2D primitives -- quads, arcs, and I encourage
      you to lookup how to use Vertexes!
concepts:
  - x and y coordinates / position
  - randomness
  - RGB color
  - pixels
functions:
  - stroke
  - strokeWeight
  - fill
  - noStroke
  - noFill
  - line
  - point
  - square
  - rect
  - circle
  - ellipse
  - triangle
  - random
other:
  - type: youtube
    id: yPWkPOfnGsw
  - type: youtube
    id: amGsNYDt-D0
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapters 3. Draw.
---
