---
layout: week.njk
title: Variables and For Loops
weekNum: 3
tags:
  - p5
  - week
goals:
  - "Share and Discuss Coding Sketch #2"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #2"
  - Intro Conditional Statements and Logical Operators
  - "Start work on Coding Sketch #3"
sketch:
  title: "Coding Sketch #2: For Loop Remix"
  text:
    - Remix the for loop examples in the book (ex. 4-5 through 4-9) to create something
      original. See how you can incorporate color, strokeWeight(), and different shapes
      from the previous week.
concepts:
  - for loop
  - nested for loop
  - "variables: let, const"
  - scope
code:
  - for
  - let
  - const
  - width
  - height
refExamples:
  - control iteration
  - control embedded iteration
examples: 
  - type: p5
    url: gjohns13-spectacular/sketches/vUGlosRQX
  - type : p5 
    url : gjohns13-spectacular/sketches/B3ubYdhTl
  - type: p5
    url : gjohns13-spectacular/sketches/xq96JTX7l
other:
  - type: youtube
    id: POn4cZ0jL-o
  - type: youtube
    id: cnRD9o6odjk
  - type: youtube
    id: 1c1_TMdf8b8
  - type: youtube
    id: 7A5tKW9HGoM
  - type: youtube
    id: dRhXIIFp-ys
  - type: youtube
    id: nIooYRJAnlc
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      img: "{{ texts.p5.img }} "
      description: Chapters 4. Variables.
---
