---
layout: week.njk
title: Variables and For Loops
weekNum: 3
tags:
  - p5
  - intro
  - week
goals:
  - "Share and Discuss Coding Sketch #2"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #2"
  - Introduce Group Presentation and Create Groups
  - Intro Variables and For Loops
  - "Start work on Coding Sketch #3"
sketch:
  title: "Coding Sketch #2: For Loop Remix"
  text:
    - Remix the for loop examples in the book (ex. 4-5 through 4-9) to create something
      original. See how you can incorporate color, strokeWeight(), and different shapes
      from the previous week.
concepts:
  - for loop
  - nested for loop
  - "variables: let, const"
  - scope
functions:
  - for
  - let
  - const
other:
  - type: youtube
    id: POn4cZ0jL-o
  - type: youtube
    id: cnRD9o6odjk
  - type: youtube
    id: 1c1_TMdf8b8
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapters 4. Variables.
---
