---
layout: week.njk
title: randomness + project 1 prep
weekNum: 5
tags:
  - p5
  - project
goals:
  - random() + randomSeed() tutorial
  - In-class work time
  - One-on-one Check-ins on Project 1
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters 3, 4, 5 as needed.
      img: "{{ texts.p5.img }} "
  concepts:
    - randomness
sketch:
  title: "Project 1 Proposal"
  text:
    - Submit a short 200 word proposal for your project. Include details about the coding techniques you will use as well as your artistic intent.
code:
  - random
  - randomSeed
other:
  - type: youtube
    id: 1Osb_iGDdjk
  - type: youtube
    id: 7A5tKW9HGoM
  - type: youtube
    id: h279eYIROIM
  - type: youtube
    id: asvnmtVjeEk
---
