---
layout: week.njk
title: Project 1
weekNum: 6
tags:
  - p5
  - project
goals:
  - Project Presentations and Critiques
  - Introduce Transformations for Week 7
sketch:
  title: "Creative Coding Culminating Project"
  text:
    - "You have now had five weeks to build the basics of your programming chops. You have learned how to use variables, conditionals, loops, and functions. You have learned how to use the p5.js library to create 2D graphics. You have learned how to use the p5.js web editor to share your work with others. Now it is time to put all of these skills together in a culminating project that you will present to the class."
    - "Your project should be a creative coding sketch that uses the p5.js library to create a 2D graphic. You can use any of the concepts you have learned so far, but you should also try to incorporate at least one new concept that you have not used before. This could be a new p5.js function, a new programming concept, or a new creative coding technique."
    - "Your project should be at least 30 lines of code, but it can be as long as you want. You should also include a brief description of your project, explaining what it does and how you created it."
    - "You will present your project to the class in a 5-10 minute presentation. You should explain what your project does, how you created it, and what you learned from the process. You should also be prepared to answer questions from the class."
  eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters 3, 4, 5 as needed.
      img: "{{ texts.p5.img }} "
examples:
  - type: p5
    url: gjohns13-spectacular/full/fXjII012Y
  - type: p5
    url: glj/full/NzWavvW8b
  - type: p5
    url: glj/full/OkYK85hM0
  - type: p5
    url: gjohns13-spectacular/full/X9S4j3YCa
  - type: p5
    url: glj/full/wf-DYmyyj
  - type: p5
    url: glj/full/PgwFxN1VY
tutorial:
  - type: youtube
    id: videoseries?list=PLzw5ecWso_zQG2czpKXrsIlMp_ZsSgtdm
other:
  - type: youtube
    id: BCZNNZGz5YI
  - type: youtube
    id: O5G4SoWBoao
  - type: youtube
    id: ZnP-83OUP_M
  - type: image
    url: studentvera1.JPG
  - type: image
    url: studentvera1.JPG
  - type: image
    url: studentvera3.JPG
  - type: image
    url: studentvera4.JPG
  - type: image
    url: studentvera5.JPG
  - type: image
    url: studentvera6.JPG
  - type: image
    url: studentvera7.JPG
  - type: image
    url: studentvera8.JPG
  - type: image
    url: studentvera9.JPG
  - type: image
    url: studentvera10.JPG
  - type: image
    url: studentvera11.JPG
  - type: image
    url: studentvera12.JPG
  - type: image
    url: studentvera13.JPG
  - type: image
    url: studentvera14.JPG
  - type: image
    url: studentvera15.JPG
---
