---
layout: week.njk
title: Project 1
weekNum: 6
tags:
  - p5
  - project
goals:
  - Project Presentations and Critiques
  - Introduce Transformations for Week 7
sketch:
  title: Project 1
  text:
    - Using p5*js, use the canvas to create an interactive artwork. It may be a short comic or animation, cubistic and abstract. It my be inspired by some of the works we've seen before, or completely your own.
  requirements:
    - if/else statement to structure interaction
    - mouseX, mouseY to drive interaction
    - at least (2) types of 2D primitive shapes
    - a for loop
  tips:
    - Start by getting all your elements to work inside a single sketch. Use print() or console.log() to test that things are working.
    - Consider how you use the interactivity. The example of interactivity from the book was pretty simple. How can the interactivity help to drive the narrative or drama of your piece?
    - We've used for loops to draw rows and columns. You could do that, or you could break out of the grid. The random()function may be your friend here.
  eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters 3, 4, 5 as needed.
---
