---
layout: week.njk
title: "Motion, Animation, Incrementation"
weekNum: 8
tags:
  - p5
  - unit2
  - week
goals:
  - "Share and Discuss Coding Sketch #5"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #5"
  - Intro Movement and Incrementing Variables
  - "Start work on Coding Sketch #6"
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      img: "{{ texts.p5.img }} "
      description: Chapters 7. Motion
sketch:
  title: "Coding Sketch #5: Around the World"
  text:
    - Create a p5 sketch with 2 complex forms (a visual figure comprised of 2 or more 2D primitives, such as the robots at the end of each chapter).
  requirements:
    - One should *oscillate*, using sin or cosine OR use move in a circle using sin AND cosine.
    - One should bounce off the sides of the canvas OR wrap around the canvas

  concepts:
    - opacity
    - radians / degrees
    - x/y coordinates
    - trigonometry
    - accumulation and changing
examples:
  - type: p5
    url: gjohns13-spectacular/full/Kx_4n3Emg
  - type: p5
    url: gjohns13-spectacular/full/qiY5g3QjF
  - type: p5
    url: gjohns13-spectacular/full/DT8GP7Kz4
  - type: p5
    url: gjohns13-spectacular/full/RgdRBN4l0
  - type: p5
    url: gjohns13-spectacular/full/JDBnzb7NO
  - type: p5
    url: gjohns13-spectacular/full/KzrvVEnCK
  - type: p5
    url: gjohns13-spectacular/full/3PtO4fYxHl
  - type: p5
    url: gjohns13-spectacular/full/AE4RMKrcW
  - type: p5
    url: gjohns13-spectacular/full/vMYIjEv8B
  - type: p5
    url: gjohns13-spectacular/full/e1QPjT1dI
  - type: p5
    url: gjohns13-spectacular/full/vMYIjEv8B
  - type: p5
    url: gjohns13-spectacular/full/3_nluCElW
  - type: p5
    url: gjohns13-spectacular/full/gbKqkOl0w
  - type: p5
    url: gjohns13-spectacular/full/DNWWHZ6cO
code:
  - sin
  - cos
  - translate
  - rotate
  - scale
  - degreeMode
  - rectMode
  - ellipseMode
  - push
  - pop

other:
  - type: youtube
    id: m463X1cqV6s
  - type: youtube
    id: qWIcAWYm-aU
  - type: youtube
    id: EQrNtJxiN_A
---
