---
layout: week.njk
title: "Functions: Modularity and Abstraction"
weekNum: 9
tags:
  - p5
  - unit2
  - week
goals:
  - "Share and Discuss Coding Sketch #6"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch #6"
  - Intro Project 2
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Chapters 7. Motion
sketch:
  title: "Coding Sketch #6: Functions"
  text:
    - Create a p5 sketch in which you compose *your own* function.
  requirements:
    - contain drawing commands for a 2D complex form (a visual figure comprised of 2 or more 2D primitives, such as the robots or the owls in the text). It could be a tree or bush, a spaceship, two intertwined funky squiggles, a skyscraper
    - Select *at least two aspects* of that drawing to modify with the random() function. These aspects should passed to the function as parameters. Call this function more than 4 times in order to create a group effect (a tree becomes a forest, a skyscraper becomes a skyline, a spaceship becomes a fleet of nice, friendly aliens coming to a picnic).
    - BONUS. Use a for loop to call your function many (!) times.
concepts:
  - abstraction
  - modularity
  - reusability
code:
  - function
  - random
  - for
other:
  - type: youtube
    id: wRHAitGzBrg
  - type: youtube
    id: zkc417YapfE
  - type: youtube
    id: 4OJpqdzb0J8
  - type: youtube
    id: hZPPsegvgYM
  - type: youtube
    id: POn4cZ0jL-o
---
