---
layout: week.njk
title: "Motion, Animation, Incrementation"
weekNum: 8
tags:
  - p5
  - unit2
  - week
goals:
  - "Share and Discuss Coding Sketch"
  - "Clarify or Demo any coding concepts unclear from Coding Sketch"
  - Intro Movement and Incrementing Variables
  - "Start work on Coding Sketch"
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      img: "{{ texts.p5.img }} "
      description: Chapters 7. Motion
sketch:
  title: "Coding Sketch: Movement"
  text:
    - Create a p5 sketch using your knowledge of movement from class tutorials and textbook information to move a figure around the canvas.


  concepts:
    - opacity
    - radians / degrees
    - x/y coordinates
    - trigonometry
    - accumulation and changing
examples:
  - type: p5
    url: gjohns13-spectacular/full/Kx_4n3Emg
  - type: p5
    url: gjohns13-spectacular/full/qiY5g3QjF
  - type: p5
    url: gjohns13-spectacular/full/DT8GP7Kz4
  - type: p5
    url: gjohns13-spectacular/full/RgdRBN4l0
  - type: p5
    url: gjohns13-spectacular/full/JDBnzb7NO
  - type: p5
    url: gjohns13-spectacular/full/KzrvVEnCK
  - type: p5
    url: gjohns13-spectacular/full/3PtO4fYxHl
  - type: p5
    url: gjohns13-spectacular/full/ZKkxsT4rF
  - type: p5
    url: gjohns13-spectacular/full/bA0mWdSH2
  - type: p5
    url: gjohns13-spectacular/full/DWkXQGX4s
  - type: p5
    url: gjohns13-spectacular/full/i02GW0V1G
  - type: p5
    url: gjohns13-spectacular/full/AE4RMKrcW
  - type: p5
    url: gjohns13-spectacular/full/vMYIjEv8B
  - type: p5
    url: gjohns13-spectacular/full/e1QPjT1dI
  - type: p5
    url: gjohns13-spectacular/full/vMYIjEv8B
  - type: p5
    url: gjohns13-spectacular/full/3_nluCElW
  - type: p5
    url: gjohns13-spectacular/full/gbKqkOl0w
  - type: p5
    url: gjohns13-spectacular/full/DNWWHZ6cO
  - type: p5
    url: gjohns13-spectacular/full/81MiFdyDG
code:
  - sin
  - cos
  - translate
  - rotate
  - scale
  - degreeMode
  - rectMode
  - ellipseMode
  - push
  - pop

other:
  - type: youtube
    id: m463X1cqV6s
  - type: youtube
    id: qWIcAWYm-aU
  - type: youtube
    id: EQrNtJxiN_A
---
