---
layout: week.njk
title: Project 2
weekNum: 11
tags:
  - p5
  - project
goals:
  - Project Presentations and Critiques
  - Introduce next unit
examples:
sketch:
  title: Project 2
  text:
    - Using p5*js, use the canvas to create an animated artwork. It may be an animated narrative, cubistic and abstract. It may be inspired by some of the works we've seen before, or completely your own.
  requirements:
    - Use one of the following -- 
    - a moving element (bounce off walls, circular, spiral, or sine wave movement)
    - use rotate() or scale() to transform a drawn element (circle, square, rectangle, polygon, line, etc.) at least once in your code.
eleventyComputed:
  readings:
    - name: "{{ texts.p5.title }}"
      url: "{{ texts.p5.url }}"
      description: Review Chapters 6, 8, 9 as needed.
      img: "{{ texts.p5.img }} "
      authors: "{{ texts.p5.authors }} "
---
