@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Menlo';
    src: url('/Menlo-Regular.ttf');
}

html {
  margin: 0 1rem;
}

body {
  margin: 0 auto;
  max-width: 650px;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
canvas {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  margin: .5rem;
}

.code-canvas {
  max-width: 400px;
  display: block;
  margin: 1rem auto;
}

.code-text {
  font-family: 'Menlo', sans-serif;
  background-color: rgb(240,240,240);
  padding: .2rem;
  border-radius: 5px;
}

.code-block {
  font-family: 'Menlo', sans-serif;
  background-color: rgb(240,240,240);
  padding: 1rem;
  border-radius: 5px;
  margin: 0 auto;
  width: fit-content;
}

.code-indent {
  padding-left: 2rem;
}

.code-indent-2 {
  padding-left: 4rem;
}
